@media screen and (max-width: 992px){
.banner-content h1 {
    font-size: 55px;
}
.banner-content h4{
    font-size: 24px;
}
.banner-content a{
    margin-top: 15px;
    font-size: 17px;
}
/*coaching-services-section*/
.coaching-services-section{

}
.coaching-services-headeing{
    margin-top: 50px;
}
.coaching-services-headeing h2{
    font-size: 35px;
}
.business-coach-section .container{
    margin-left: 0;
}
.business-coach-content{
    margin:0;
}
.coaching-services{
    margin-top: 20px;
}
.coaching-services .col-lg-3{
    padding: 0;
}
.services{
    position: relative;
    padding:90px 60px;
}
.bg-1{
    background: #FFFFFF;
}
.bg-2{
    background: #F9FAFC;
}
.bg-3{
    background: #F2F3F7;
}
.bg-4{
    background: #E9EBF1;
}
.bg-5{
    background: #F9FAFC;
}
.bg-6{
    background: #F2F3F7;
}
.bg-7{
    background: #E9EBF1;
}
.bg-8{
    background: #E1E2E8;
}
.services i{
    font-size: 24px;
    color: #777777d6;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
}
.services h5{
    z-index: 1!important;
    color: #3550a0!important;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    line-height: 1.9;
    padding: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
}
.shadow{
    box-shadow: 0 14px 1.9rem 0.6rem rgba(0,0,0,.5)!important;
    width:100%;
}
.link{
    margin-top: 30px;
}
.link a{
    background: #4159a0!important;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
}
.link a:hover{
    color: #fff;
}
/*business-coach-section*/
.business-coach-section{
    margin-top: 20px;
}
.business-coach-section .container{
    margin-left: 30px;
}
.business-coach-section:before{
    position: absolute;
    content: "";
    background: #F7F7F7;
    top: 0;
    left: 0;
    height: 440px;
    width: 150px;
}
.business-coach{
    margin-top: 80px;
}
.play-video{
    
}
.play-video iframe{
}
.business-coach-content{
    margin:15px 0 15px 15px;
}
.business-coach-content h1{
    font-size: 30px;
}
.accordion-area{}
.btn-link {
    color: #3550a0!important;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.accordion-area .btn-link:hover {
    text-decoration: none;
}
.accordion-area .btn-link:focus {
    text-decoration: none;
}
.accordion-area .card{
    border:none;
    margin-bottom: 10px;
}
.accordion-area .card-header{
    border-bottom:none;
}
.accordion-area .card-body{
    background: #F7F7F7;
    padding: 0 30px 20px;
    color: #666;
    line-height: 1.9;
    text-align: justify;
}
/*about-anthony-section*/
.about-anthony-section{
    margin-top: 40px;
}
.about-anthony-content{
    margin-top: 70px;
}
.about-anthony-section .col-lg-7{
    position: relative;
}
.about-anthony-section .col-lg-7:before{
    position: absolute;
    content: "";
    background: #FBFCFD;
    height: 100%;
    width: 120%;
    left: -20%;
    z-index: -1;
}
.about-anthony-section .col-lg-5{
    padding: 0;
}
.about-anthony-content h2{
    font-size: 27px;
}
.about-anthony-content h3{
    font-size: 18px;
}
.about-anthony-content p{
 	font-size: 15px;
}
.about-anthony-img{
    position: relative;
    }
.about-anthony-img:before{
    position: absolute;
    content: "";
    top: 0;
    left: -50px;
    background: #3550A0;
    height: 150px;
    width: 50px;
}
.about-anthony-img:after{
    position: absolute;
    content: "";
    top: 26%;
    left: 40%;
    background: #F0F2F6;
    height: 450px;
    width: 360px;
    z-index: -1;
}
.about-anthony-img img{
    
}
.white-space{
	height: 0;
}
.company-section {
    margin-top: 0;
}
.company-headeing h2{
    font-size: 40px;
}
.company-logo{
    margin: 50px 0 10px;
}
.company-advertisement-content h6{
    font-size: 30px;
}/*news-resources-section*/
.news-resources-section{
    margin-top: 40px;
}
.news-headeing{
    margin-top: 20px;
}
.news-headeing h2{
    font-size: 30px;
}
.slider-area{
    margin-top: 20px;
}
.carousel-caption {
    width: 90%;
    position: absolute;
    right: 40%;
    bottom: 5px;
    left: 0;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff;
}
.carousel-caption h5{
    margin-left: 100px;
    font-size: 30px!important;

}
.carousel-caption p{
    margin-left: 100px;
    font-size: 15px;
}
.slider-link{
    margin-left: 100px;
    text-align: left;
    font-size: 15px;
}
.slider-link a{
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff!important;
    border-width: 10px!important;
    border-color: rgba(210,159,104,0);
    border-radius: 100px;
    font-size: 16px;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 900!important;
    background-color: rgba(255,255,255,0.1);
    display: inline-block;
    padding: 10px 20px;
    transition: .6s all ease;
}
.slider-link a:hover{
    background: #fff;
    color: #4760A9!important;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
}
@media screen and (max-width: 768px){
header{
   padding: 7px 0;
}
.banner-section{
	text-align: center;
}
.banner-content h1 {
	 font-size: 50px;
}
.banner-content h4{
    font-size: 24px;
}
.banner-content a{
    font-size: 16px;
}
.banner-content .appointment{
	margin:0 auto;
}
.coaching-services-headeing{
    margin-top: 40px;
}
.business-coach-section{
	margin-top: 5px;
	text-align: center;
}
.business-coach-section .container{
    margin-left: 15px;
}
.business-coach{
    margin-top: 0;
}
.business-coach-content{
    margin:15px 0 15px;
}
.business-coach-content h1{
    font-size: 30px;
}
.accordion-area .card-body{
    font-size: 15px;
}
.about-anthony-section{
    margin-top: 30px;
    text-align: center;
}
.about-anthony-content{
    margin-top: 20px;
}
.about-anthony-content h2{
    font-size: 36px;
}
.about-anthony-content h3{
    font-size: 18px;
}
.about-anthony-content p{
    font-size: 15px;
}
.about-anthony-img img{
    margin-top: 20px;
}
.white-space{
	height: 0;
}
.company-section {
    margin-top: -50px;
}
.company-headeing h2{
    font-size: 30px;
}
.company-advertisement-content h6{
    font-size: 36px;
}
.company-quoate{
    margin-top: 20px;
}
.company-quoate p{
    text-align: center;
    max-width: 100%;
    font-size: 15px;
}
.company-quoate h6{
    margin-top: 15px;
    text-align: center;
}
.news-resources-section{
   text-align: center;
    margin-top: 40px;
}
.news-headeing{
    margin-top: 30px;
}
.news-headeing h2{
    font-size: 30px;
}
.contact-section{
    margin: 40px 0;
    text-align: center;
}
.newsletter h4{
    font-size: 20px!important;
}
.newsletter p{
    line-height: 1.9em;
    font-size: 15px;
}
.social{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.contact{
	margin-top: 20px;
    background: #3550A0;
    padding: 10px 40px;
}
.contact h3{
    font-size: 30px;
}
.contact span{
    font-size: 15px;
}
.contact p{
    color: #fff;
    padding-top: 4px;
    font-size: 15px;
}
footer{
	text-align: center;
}
footer p{
    text-align: center;
    font-size: 14px;
}
.footer-social{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
}

@media screen and (max-width: 576px){
header{
   padding: 5px 0;
}
.banner-section{
	text-align: center;
}
.banner-content h1 {
	 font-size: 50px;
}
.banner-content h4{
    font-size: 24px;
}
.banner-content a{
    font-size: 16px;
}
.banner-content .appointment{
	margin:0 auto;
}
.coaching-services-headeing{
    margin-top: 40px;
}
.business-coach-section{
	margin-top: 5px;
	text-align: center;
}
.business-coach-section .container{
    margin-left: 0;
}
.business-coach-content{
    margin:35px 0 15px;
}
.business-coach-content h1{
    font-size: 30px;
}
.accordion-area .card-body{
    font-size: 15px;
}
.about-anthony-section{
    margin-top: 30px;
    text-align: center;
}
.about-anthony-content{
    margin-top: 20px;
}
.about-anthony-content h2{
    font-size: 36px;
}
.about-anthony-content h3{
    font-size: 18px;
}
.about-anthony-content p{
    font-size: 15px;
}
.about-anthony-img img{
    margin-top: 20px;
}
.about-anthony-img:after{
    height: 5px;

}
.white-space{
	height: 0;
}
.company-section {
    margin-top: -50px;
}
.company-headeing h2{
    font-size: 36px;
}
.company-advertisement-content h6{
    font-size: 36px;
}
.company-quoate{
    margin-top: 20px;
}
.company-quoate p{
    text-align: center;
    max-width: 100%;
    font-size: 15px;
}
.company-quoate h6{
    margin-top: 15px;
    text-align: center;
}
.news-resources-section{
   text-align: center;
    margin-top: 40px;
}
.news-headeing{
    margin-top: 30px;
}
.news-headeing h2{
    font-size: 30px;
}
.contact-section{
    margin: 40px 0;
    text-align: center;
}
.newsletter h4{
    font-size: 20px!important;
}
.newsletter p{
    line-height: 1.9em;
    font-size: 15px;
}
.social{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.contact{
	margin-top: 20px;
    background: #3550A0;
    padding: 10px 40px;
}
.contact h3{
    font-size: 30px;
}
.contact span{
    font-size: 15px;
}
.contact p{
    color: #fff;
    padding-top: 4px;
    font-size: 15px;
}
footer{
	text-align: center;
}
footer p{
    text-align: center;
    font-size: 14px;
}
.footer-social{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
}